@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --dark-gray: #212125;
  --light-gray: #5f6269;
  --white: #e5e6e8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: unset;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-gray);
  color: var(--white);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2.5%;
  background-color: rgba(245, 222, 179, 0.978);
}

.navbar__header {
  color: var(--dark-gray);
}

.navbar__add-note {
  width: fit-content;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  border-radius: 35px;
  background-color: var(--white);
  border: unset;
  outline: unset;
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.note-search {
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px auto 40px;
}

.note-search__input {
  width: 100%;
  background-color: unset;
  border: var(--light-gray) 1px solid;
  border-radius: 25px;
  padding: 15px 50px 15px 30px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
}

.note-search__input::placeholder {
  color: var(--white);
  font-size: 14px;
}

.note-search__button {
  position: absolute;
  right: 20px;
  font-size: 20px;
  background-color: unset;
  outline: unset;
  border: unset;
  color: var(--white);
}

@media (min-width: 768px) {
  .note-search {
    width: fit-content;
  }
  .note-search__input {
    min-width: 500px;
  }
}

.note-input {
  margin: 30px auto;
  border: 1px solid var(--light-gray);
  padding: 20px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  height: fit-content;
}

.note-input__title,
.note-input__body {
  width: 100%;
  background-color: unset;
  color: var(--white);
  padding-bottom: 10px;
  border: unset;
  outline: unset;
  color: var(--white);
}

.note-input__title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 5px 10px 0px;
}

.note-input__body {
  margin: 20px 10px 0;
  font-size: 16px;
  font-weight: 500;
  min-height: 40vh;
}

.note-input__title::placeholder,
.note-input__body::placeholder {
  color: var(--white);
}

[contenteditable="true"]:empty:not(:focus):before {
  content: attr(data-placeholder);
}

.note-input__max {
  margin-left: 10px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .note-input {
    width: fit-content;
  }
  .note-input__title,
  .note-input__body {
    min-width: 700px;
  }
  .note-input__body {
    min-height: 600px;
  }
}

.note-input__submit {
  width: fit-content;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  padding: 15px 25px;
  border-radius: 35px;
  background-color: var(--white);
  border: unset;
  outline: unset;
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.note-card-list {
  width: 90%;
  margin: 15px auto 40px;
}

.note-card-list__header {
  font-size: 35px;
  font-weight: 700;
  margin-left: 5%;
}

@media (min-width: 768px) {
  .note-card-list {
    width: 95%;
  }
  .note-card-list__header {
    margin-left: 2.5%;
  }
}

.note-card-list__empty {
  margin: 20px auto;
  text-align: center;
  vertical-align: middle;
}

.note-card {
  border: 1px solid var(--light-gray);
  padding: 15px;
  height: fit-content;
  grid-row: span;
  border-radius: 9px;
}

.note-card__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.note-card__timestamp {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.note-card__body {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}

.note-card__buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}

.note-card__buttons-delete,
.note-card__buttons-archive {
  background-color: unset;
  outline: unset;
  border: unset;
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}

.notfound {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notfound__illustration {
  width: 80%;
}

.notfound__desc{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notfound__desc-header {
  margin: 50px auto 30px;
  text-align: center;
  font-size: 20px;
}

@media (min-width: 768px) {
  .notfound {
    margin-top: 100px;
  }
  .notfound__illustration {
    max-width: 600px;
  }
  .notfound__desc-header {
    margin: 80px auto 50px;
    font-size: 30px;
  }
}

.note-detail {
  padding-top: 100px;
  width: 80%;
  margin: auto;
  flex-direction: column;
}

.note-detail__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.note-detail__navigation-back {
  display: flex;
  align-items: center;
  gap: 10px;
}

.note-detail__navigation-back__icon {
  font-size: 25px;
}

.note-detail__header {
  font-size: 40px;
  margin-bottom: 10px;
}

.note-detail__date {
  margin-bottom: 40px;
}